 html, body  {
  background-position: absolute;
}


body {
  color: black;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat:no-repeat;
  background-attachment: fixed;
  width:100%;
  margin:auto; 
}


.content  {
  background-color: #818181;
  width: 75%;
  align: center;

}

ul  {
  text-align: left;

}