html, body  {
  height: 500px;
  background-image: url("https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_1280.jpg");
  background-position: left;
}

body {
  color: black;
  width: 600x;
  text-align: center;
}


.header {
  height: 600x;
  color: black;
  background-color: grey;
  background-position: left;
  position:absolute;
  width: 100%;
  font-size: 50px;
  text-align: left;
  font-family: 'Courier New', Helvetica, sans-serif; 
  margin-top: 0px;
  margin-left: 0px;
}


h7  {
  margin-top: 100px;
  font-size: 30px;
  text-align: left;

}


.container {
  height: 400x;
  margin-left: auto;
  margin-right: auto;
}

.title  {
  margin-top: 70px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Helvetica, sans-serif; 
}

.row {
  column-count: 3;
  column-gap: 40px;
  margin-top: 70px;
  height: 300px;  
}


.col1, .col2, .col3 {
  background-image: url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  height: 300px;
  background-size: 1000px;
  display: flex;
  flex-flow: row wrap;
  background-position: center

}


h1, h2, h3 {
  color: grey;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 140px;
  list-style-type: none; 
  padding: 20px; 
  margin: 20px
}


footer  {
  font-size: 30px;
  display: inline;
  color: black;
  height: 200px;
}



p1 {
  float: left;
}



p2 {
  float: right;
}
