html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  color: black;
  width: 800x;


}

.container {
  width: 600x;
  height: 400x;
  margin-left: auto;
  margin-right: auto;

}

.header {
  height: 400x;
  border: 5px;
  color: pink;
  text-align: center;
  margin-top: 60px;
  background-color: grey;
  font-size: 60px;
  
}

.footer  {
  margin-top: 200px;
  font-size: 30px;
  display: inline;


}

h5 {
  float: left;

}

h6 {
  float: right;
  color: black;
}


.row {
  margin-top: 200px;
  color: orange;
  background-color: white;
  display: inline;
  box-sizing: border-box;

}

.col1 {
  position: relative; 

}


.col2 {
  position: relative;


}

.col3 {
  position: relative;


}

