body {
  color: black;
  width: 800x;


}

.container {
  width: 600x;
  height: 400x;
  margin-left: auto;
  margin-right: auto;

}

.header {
  height: 400x;
  color: black;
  text-align:center;
  margin-top:60px;
  background-color: grey;
  font-size:60px;
  
}


h6 {
  margin-top: 200px;
  text-align: left
  float: right;

}


.row: {
  display: inline;
  margin-top: 100px;
}

.col {
  margin-right:100px;
}

footer {

}